extends ../newLayoutTeacher
block content
  .signup__container
    .container__child.signup__form
      #changeThis
      form#uploadForm(ref='uploadForm')
        .form-group
          label.blackText Leaves Taken 
          input.form-control(type='text',value=user.leavesTaken ,readonly='')
        .form-group
          label.blackText No Of Leave Days
          input.form-control(type='number',min=1, id='noOfLeaveDays', name='noOfLeaveDays', required='true')
        .form-group
          label.blackText Date of Commencing Leave
          input.form-control(type='Date', id='dateOfCommencingLeave', name='dateOfCommencingLeave',required='true')
        .form-group
          label.blackText Date of Resuming Duty
          input.form-control(type='Date', id='dateOfResumingDuty', name='dateOfResumingDuty',required='true')
        .form-group
          label.blackText Reason
          input.form-control(type='text', id='reason', name='reason',required='true')
        .m-t-lg
          ul.list-inline
            li
              input.btn.btn--form(type='submit', value='Submit')  
      form(action='/leaves/leaveMenu')
        .m-t-lg
          ul.list-inline
            input.btn.btn--form(type='submit', value='Go Back')
  script.
    $(document).ready(function(){
      var $form=$("#uploadForm");
      $form.on("submit", function (e) {
        e.preventDefault();
        var today=new Date();
        var trueDate=parseInt(today.getDate());
        var trueMonth=parseInt(today.getMonth())+1;
        var trueYear=parseInt(today.getFullYear());
        var startdate=parseInt(document.getElementById('dateOfCommencingLeave').value.slice(8,10));
        var startmonth=parseInt(document.getElementById('dateOfCommencingLeave').value.slice(5,7));
        var startyear=parseInt(document.getElementById('dateOfCommencingLeave').value.slice(0,4));
        var enddate=parseInt(document.getElementById('dateOfResumingDuty').value.slice(8,10));
        var endmonth=parseInt(document.getElementById('dateOfResumingDuty').value.slice(5,7));
        var endyear=parseInt(document.getElementById('dateOfResumingDuty').value.slice(0,4));
        var a=(startyear<trueYear)||(startyear==trueYear && startmonth<trueMonth)||(startyear==trueYear && startmonth==trueMonth && startdate<=trueDate);
        var b=(endyear<trueYear)||(endyear==trueYear && endmonth<trueMonth)||(endyear==trueYear && endmonth==trueMonth && enddate<=trueDate);
        var c=(endyear<startyear)||(startyear==endyear && endmonth<startmonth)||(startyear==endyear && endmonth==startmonth && enddate<=startdate);
        if(a && b){
          $('#changeThis').html('<div class="alert alert-danger">Wrong Date Of Commencing Leave</div><div class="alert alert-danger">Wrong Date Of Resuming Duty</div>');
        }else if(a){
          $('#changeThis').html('<div class="alert alert-danger">Wrong Date Of Commencing Leave</div>');
        }else if(b){
          $('#changeThis').html('<div class="alert alert-danger">Wrong Date Of Resuming Duty</div>');
        }else if(c){
          $('#changeThis').html('<div class="alert alert-danger">Wrong Date Of Resuming Duty</div>');
        }else{
          var formData = $("#uploadForm").serializeArray();
          $.ajax('/leaves/processLeaveApp', {
            method: "POST",
            data: formData,
            success:function(){
              location.href="/leaves/leaveMenu";
            },
            error:function(){
              location.replace('/leaves/applyLeave');
            }
          });
        }
      });
    });
