extends ../newLayout
block content
  .signup__container(style='box-sizing:content-box;padding: 30px;')
    .container__child.signup__form
      #changeThis(style='display:none;')
        div(class="alert alert-"+message.status) #{message.msg}
      .circularText
        div
          each val,i in data
            ul.list-group.list-group-flush
              li.list-group-item= 'Filename : '+val.fileName
              li.list-group-item= 'Year : '+val.year
              li.list-group-item= 'Grade : '+val.grade 
            br
            .input-group-append
              form(action='/schemes/scheme/'+i)
                .m-t-lg
                  ul.list-inline
                    input.btn.btn--form(type='submit', value='Edit')
              .m-t-lg
                ul.list-inline
                  button.delete.btn.btn--form(id=val._id) Delete
              .m-t-lg
                ul.list-inline
                  a.btn.btn--form(href='/uploads/schemes/'+val.fileName, download='') Download
        form(action='/schemes/schemes ')
          .m-t-lg
            ul.list-inline
              input.btn.btn--form(type='submit', value='Go Back')
  script.
    $(document).ready(function(){
      $.ajax({
        type:'GET',
        url:'/schemes/getmsg',
        success:function(data){
          if(data.message.status!=''){
            $('#changeThis').css({
              display:"block"
            });
            $.ajax({
              type:"GET",
              url:"/schemes/msgs/reset"
            });
          }
        }
      });
      $('.delete').on('click',function(){
        $.ajax({
          type:'DELETE',
          url:'/schemes/delete/'+this.id,
          success:function(){
            location.reload();
          }
        });
      });
    });
