extends ../newLayoutTeacher
block content
  .signup__container
    .container__child.signup__form
      .form-group
          form(method='POST', action='/marks/edit'+mark._id)
            .form-group
              label(for='StudentID') StudentID:
              input.form-control(type='text', name='StudentID', value=mark.StudentID, required='')
            .form-group
              label(for='Subject1') Subject 1:
              input.form-control(type='text', name='Subject1', value=mark.Subject1, required='')
            .form-group
              label(for='Marks1') Marks 1:
              input.form-control(type='text', name='Marks1', value=mark.Marks1, required='')
            .form-group
              label(for='Subject2') Subject 2:
              input.form-control(type='text', name='Subject2', value=mark.Subject2, required='')
            .form-group
              label(for='Marks2') Marks 2:
              input.form-control(type='text', name='Marks2', value=mark.Marks2, required='')
            .form-group
              label(for='Subject3') Subject 3:
              input.form-control(type='text', name='Subject3', value=mark.Subject3, required='')
            .form-group
              label(for='Marks1') Marks 3:
              input.form-control(type='text', name='Marks3', value=mark.Marks3, required='')
              ul.list-inline
                li
                  input.btn.btn--form(type='submit', value='submit')
                  
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/js/radio_button.js')                
    script(src='/js/particles.min.js.download')
    //script(src='/js/stats.min.js.download')
    script(src='/js/background.js')
    script(src='index_data/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26.js')
    script(src='/js/jquery.js')
    script(src='/js/navigator.js')
    div(style='position: absolute; top: 0px; left: 0px; cursor: pointer; opacity: 0.9; z-index: 10000;')
      canvas(width='80', height='48', style='width: 80px; height: 48px; display: block;')
      canvas(width='80', height='48', style='width: 80px; height: 48px; display: none;')
      canvas(width='80', height='48', style='width: 80px; height: 48px; display: none;')
