extends ../newLayoutTeacher
block content
  .signup__container
    #table_info_details(style = "width:60%")
      .tbl-header
        table(cellpadding='0', cellspacing='0', border='0')
          thead
            tr
              th Student ID :
              th= mark.StudentID
              th Details

      .tbl-content(style = "height:300px")
        table(cellpadding='0', cellspacing='0', border='0')
          tbody
            tr
              td(style= "color:#fff; text-decoration: none; font-size: 1em" ) Examination Results:
            tr
              td(style= "color:#fff; text-decoration: none; font-size: 1em" ) Subject1
              td(style= "color:#fff; text-decoration: none; font-size: 1em" )= mark.Subject1
              td(style= "color:#fff; text-decoration: none; font-size: 1em" )= mark.Marks1 
            tr
              td(style= "color:#fff; text-decoration: none; font-size: 1em" ) Subject2
              td(style= "color:#fff; text-decoration: none; font-size: 1em" )= mark.Subject2
              td(style= "color:#fff; text-decoration: none; font-size: 1em" )= mark.Marks2
            tr
              td(style= "color:#fff; text-decoration: none; font-size: 1em" ) Subject3
              td(style= "color:#fff; text-decoration: none; font-size: 1em" )= mark.Subject3
              td(style= "color:#fff; text-decoration: none; font-size: 1em" )= mark.Marks3
            tr
              td(style= "color:#fff; text-decoration: none; font-size: 1em" ) 
            tr
              td(style= "color:#fff; text-decoration: none; font-size: 1em" ) Total
              td(style= "color:#fff; text-decoration: none; font-size: 1em" )= mark.Marks1+mark.Marks2+mark.Marks3
            tr
              td(style= "color:#fff; text-decoration: none; font-size: 1em" ) Average
              td(style= "color:#fff; text-decoration: none; font-size: 1em" )= (mark.Marks1+mark.Marks2+mark.Marks3)/3
              
          
      br
      a.btn.btn-default(href='/marks/edit/'+mark._id) Edit 
      a.btn.btn-danger.delete-mark(href='#',data-id=mark._id) Delete
      br
              
                  
  script(src='/js/particles.min.js.download')
  //script(src='/js/stats.min.js.download')
  script(src='/js/background.js')
  script(src='index_data/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26.js')
  script(src='/js/jquery.js')
  script(src='/js/navigator.js')
  script(src='/js/main1.js')
  div(style='position: absolute; top: 0px; left: 0px; cursor: pointer; opacity: 0.9; z-index: 10000;')
    canvas(width='80', height='48', style='width: 80px; height: 48px; display: block;')
    canvas(width='80', height='48', style='width: 80px; height: 48px; display: none;')
    canvas(width='80', height='48', style='width: 80px; height: 48px; display: none;')
