// saved from url=(0088)
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    script(src="index_data/console_runner-ce3034e6bde3912cc25f83cccb7caa2b0f976196f2f2d5.js")
    script(src="index_data/css_live_reload_init-890dc39bb89183d4642d58b1ae5376a0193342f9.js")
    meta(charset="UTF-8")
    meta(name="robots", content="noindex")
    link(rel="shortcut icon", type="image/x-icon", href="https://static.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico")
    link(rel="mask-icon", type="", href="https://static.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg", color="#111")
    link(rel="canonical", href="https://codepen.io/bradyhullopeter/pen/mRPQQy")

    meta(name='robots', content='noindex')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    script(src='/css/console_runner-ce3034e6bde3912cc25f83cccb7caa2b0f976196f2f2d52303a462c826d54a73.js.download')
    script(src='/css/css_live_reload_init-890dc39bb89183d4642d58b1ae5376a0193342f9aed88ea04330dc14c8d52f55.js.download')
    meta(name='robots', content='noindex')
    link(rel='stylesheet prefetch', href='js/normalize.css')
    script(src='index_data/prefixfree.js')
    link(rel = "stylesheet" href = "/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel = "stylesheet" href = "/css/registration.css")
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet prefetch', href='/fonts/font-awesome-4.7.0/css/font-awesome.css')
    link(rel='stylesheet prefetch', href='/fonts/font-awesome-4.7.0/css/icon-font.min.css')
    link(rel='stylesheet', href= '/css/table_assignment.css')
    link(rel='stylesheet', href= '/css/logout.css')
    link(rel='stylesheet', href= '/css/menu.css')
    link(rel='stylesheet', href= '/css/modal.css')
    
    link(rel='stylesheet', href='/css/background.css')
    link(rel='stylesheet', href= '/css/menu_navigator.css')
    link(rel='stylesheet', href= '/css/main.css')

  body
    // particles.js container
    input#hamburger.hamburger(checked="checked", type="checkbox")
    label.hamburger(for="hamburger")
      i
      |   
      text
        close close
        |       
        open menu
    |   
    nav.primnav
      ul
        li
          a(title="Home", href="/")
            svg.icon
              use(fa.fa-home)
            i(style = "padding-right:15px").fa.fa-home.fa-2x
            |  Home
        |
        li 
          
          a(title="Dashboard", href="/assignments/student" style = "padding-left:0px")
            svg.icon
              use
            i(style = "padding-right:15px").fa.fa-th-large.fa-2x
            |  Dashboard
        |       
        li
          a(title="Subject data", href="#mail")
            svg.icon
              use(xlink:href="#icon-mail_outline")
            i(style = "padding-right:15px").fa.fa.fa-book.fa-2x
            |  Subject
            |           
          |         
          ul.secnav
            li
              a(title="study materials", href="#inbox") Study Materials
            |           
            li
              a(title="Report card", href="#sent") Report
        |       
        li
          a(title="Notifications", href="#notifications")
            svg.icon
              use(xlink:href="#icon-bell2")
            i(style = "padding-right:15px").fa.fa-table.fa-2x
            |  Time Table

        |       
        li
          a(title="About me", href="#sysadmin")
            svg.icon
              use(xlink:href="#icon-equalizer")
            i(style = "padding-right:15px").fa.fa-smile-o.fa-2x
            |  About Me
          |         
          ul.secnav
            li
              a(title="Edit user data", href="/users/edit") Edit User
            |           
            li
              a(title="change password", href="/users/changepassword") Change Password
            |           


    section(style = 'margin=10px')
      user#user
        section
          img(src='/images/userpic/Emma Watson.jpg')
          section(style = 'margin=10px')
            name Emma Watson
            actions
              a(href='#settings') settings
              |  
              a(href='/users/logout') logout
        br
        br
        br
        br


    #particles-js(ng-class="{'blur-view': showModal, 'particles-semi-transparent': viewIsCreationsOrPress}")
      canvas.particles-js-canvas-el(style='width: 100%; height: 100%;')
    // ngView:
    .ng-scope(ng-view='', ng-class="{'blur-view': showPlayerView || showModal || showQuoteView}", style='')
      .introduction.ng-scope
    #titles(style = "top:20% ;width :100%").ng-scope
      // <canvas id="canvas" class="title-animated" ng-show="loaded"></canvas>

      #table_info
        .tbl-header
          table(cellpadding='0', cellspacing='0', border='0')
            thead
              tr
                th Title
                th Due Date
                th Marks Allocated
                th Assignment Type
        .tbl-content
          table(cellpadding='0', cellspacing='0', border='0')
            tbody
              each assignment, i in assignments
                tr
                  td
                    a(href="/assignments/submission/"+assignment._id style= "color:#fff; text-decoration: none; font-size: 1.5em" )= assignment.title
                  td
                    a(href="/assignments/submission/"+assignment._id style= "color:#fff; text-decoration: none; font-size: 1.5em" )= assignment.due_date
                  td
                    a(href="/assignments/submission/"+assignment._id style= "color:#fff; text-decoration: none; font-size: 1.5em" )= assignment.marks_allocated
                  td
                    a(href="/assignments/submission/"+assignment._id style= "color:#fff; text-decoration: none; font-size: 1.5em" )= assignment.assignment_type
                
                  
    script(src='/js/particles.min.js.download')
    //script(src='/js/stats.min.js.download')
    script(src='/js/background.js')
    script(src='index_data/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26.js')
    script(src='/js/jquery.js')
    script(src='/js/menavigator.js')
