extends ../index

block content
    h1 Class Timetable
    #container.col
      table(style='width:100%')
        tr
          td  Class
          td=timetable.class
      
        tr
          th Monday
          th Tuesday
          th Wednesday
          th Thursday
          th Friday
        tr
          td=timetable.monday_first
          td=timetable.tuesday_first
          td=timetable.wednesday_first
          td=timetable.thursday_first
          td=timetable.friday_first
        tr
          td=timetable.monday_second
          td=timetable.tuesday_second
          td=timetable.wednesday_second
          td=timetable.thursday_second
          td=timetable.friday_second
        tr
          td=timetable.monday_third
          td=timetable.tuesday_third
          td=timetable.wednesday_third
          td=timetable.thursday_third
          td=timetable.friday_third
        tr
          td=timetable.monday_fourth
          td=timetable.tuesday_fourth
          td=timetable.wednesday_fourth
          td=timetable.thursday_fourth
          td=timetable.friday_fourth
        tr
          td
        tr
          td=timetable.monday_fifth
          td=timetable.tuesday_fifth
          td=timetable.wednesday_fifth
          td=timetable.thursday_fifth
          td=timetable.friday_fifth
        tr
          td=timetable.monday_sixth
          td=timetable.tuesday_sixth
          td=timetable.wednesday_sixth
          td=timetable.thursday_sixth
          td=timetable.friday_sixth
        tr
          td=timetable.monday_seventh
          td=timetable.tuesday_seventh
          td=timetable.wednesday_seventh
          td=timetable.thursday_seventh
          td=timetable.friday_seventh
        tr
          td=timetable.monday_eighth
          td=timetable.tuesday_eighth
          td=timetable.wednesday_eighth
          td=timetable.thursday_eighth
          td=timetable.friday_eighth
          
      
